site_name: Differential Progamming Tutorial
theme:
  name: "material"
  palette:
    primary: "green"
    accent: "green"
    icon:
      logo: "library_books"
  features:
    - tabs

docs_dir: notebooks/

nav:
  - Home: index.md
  - Preliminaries:
      - Preface: 00-preliminaries/01-preface.md
      - Prerequisites: 00-preliminaries/02-prerequisites.md
      - Setup: 00-preliminaries/03-setup.md
  - Introduction to Differential Programming:
      - Neural Networks from Scratch: 01-differential-programming/01-neural-nets-from-scratch.ipynb
      - Gradient Based Optimization: 01-differential-programming/02-gradient-optimization.ipynb
      - Linear Model: 01-differential-programming/03-linear-model-optimization.ipynb
      - Logistic Regression: 01-differential-programming/04-logistic-regression.ipynb
      - Neural Networks: 01-differential-programming/05-neural-networks.ipynb
  - JAX Programming Idioms:
      - Introduction: 02-jax-idioms/00-introduction.ipynb
      - Loopless Loops: 02-jax-idioms/01-loopless-loops.ipynb
      - Loopy Carry: 02-jax-idioms/02-loopy-carry.ipynb
      - Deterministic Randomness: 02-jax-idioms/03-deterministic-randomness.ipynb
      - Optimized Learning: 02-jax-idioms/04-optimized-learning.ipynb
  - The stax Module:
      - Linear Models with stax: 03-stax/01-linear.ipynb
      - Neural Networks with stax: 03-stax/02-neural.ipynb
  - Gaussian Clustering:
      - Introduction: 04-gaussian-clustering/01-intro-gaussian-clustering.ipynb
      - Dirichlet Processes: 04-gaussian-clustering/02-dirichlet-processes.ipynb
      - DP-GMM: 04-gaussian-clustering/03-dirichlet-process-clustering.ipynb
  - Appendix:
      - Partials: appendix/02-partials.ipynb

plugins:
  - search:
      separator: '[\s\-\.]+'
      lang:
        - en
  - mknotebooks:
      execute: true
      timeout: 600
      binder: true
      binder_service_name: "gh"
      binder_branch: "master"
      binder_ui: "lab"

# Taken from here: https://squidfunk.github.io/mkdocs-material/extensions/codehilite/
markdown_extensions:
  - codehilite
  - pymdownx.arithmatex
  - pymdownx.details
  - markdown.extensions.footnotes

extra_css:
  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.css

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML
  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js

repo_name: "ericmjl/dl-workshop"
repo_url: "https://github.com/ericmjl/dl-workshop"

extra:
  social:
    - icon: "material/email"
      link: "http://www.shortwhale.com/ericmjl"
    - icon: "fontawesome/brands/github"
      link: "https://github.com/ericmjl"
    - icon: "fontawesome/brands/twitter"
      link: "https://twitter.com/ericmjl"
    - icon: "fontawesome/brands/linkedin"
      link: "https://linkedin.com/in/ericmjl"
