name: Build website

on:
  push:
    branches: [master]

jobs:
  build-website:
    name: Build website
    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # See: https://github.com/marketplace/actions/setup-conda
      - name: Setup Conda
        uses: s-weigand/setup-conda@v1
        with:
          conda-channels: "conda-forge"

      # # Build cache of environment
      # - name: Cache conda environment
      #   id: cache-environment
      #   uses: actions/cache@v2
      #   # Conda environment build step depends on two files,
      #   # so we ensure that the hash key contains both their hashes.
      #   with:
      #     path: |
      #       /opt/conda/
      #     key: os.${{ runner.os }}-env.${{ hashFiles('environment.yml') }}

      - name: Build environment
        if: steps.cache-environment.outputs.cache-hit != 'true'
        run: |
          conda env create -f environment.yml

      # Build cache of website
      - name: Cache HTML outputs
        id: cache-website
        uses: actions/cache@v2
        with:
          path: |
            site
          key: os.${{ runner.os }}-env.${{ hashFiles('environment.yml') }}-env.${{ hashFiles('src') }}-env.${{ hashFiles('notebooks') }}-env.${{ hashFiles('mkdocs.yml') }}

      - name: Build website
        if: steps.cache-website.outputs.cache-hit != 'true'
        run: |
          source activate dl-workshop
          python -m ipykernel install --user --name dl-workshop
          mkdocs build

      - name: Deploy Website
        uses: peaceiris/actions-gh-pages@v3
        with:
          # https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-set-personal-access-token-personal_token
          personal_token: ${{ secrets.GHPAGES_TOKEN }}
          publish_dir: ./site
          publish_branch: gh-pages
          allow_empty_commit: false
          keep_files: false
          force_orphan: true
          enable_jekyll: false
          disable_nojekyll: false
